## PROYECTO FINAL

### 1.- Carga de datos y exploración básica.

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('../Data/quejas-clientes.csv', index_col=[0])

In [3]:
print("Filas y columnas:", df.shape)
df.head()
df.dtypes
df.isnull().sum()

Filas y columnas: (28156, 13)

Complaint ID                0
Product                     0
Sub-product             10574
Issue                       2
Sub-issue               14945
State                     421
ZIP code                  280
Date received               0
Date sent to company        0
Company                     0
Company response            0
Timely response?            0
Consumer disputed?      22150
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28156 entries, 0 to 28155
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Complaint ID          28156 non-null  int64
 1   Product               28156 non-null  object
 2   Sub-product           17582 non-null  object
 3   Issue                 28154 non-null  object
 4   Sub-issue             13211 non-null  object
 5   State                 27735 non-null  object
 6   ZIP code              27876 non-null  float64
 7   Date received         28156 non-null  object
 8   Date sent to company  28156 non-null  object
 9   Company               28156 non-null  object
 10  Company response      28156 non-null  object
 11  Timely response?      28156 non-null  object
 12  Consumer disputed?    6006 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 3.0+ MB

### Visión inicial.

In [5]:
df.head(5)

,Complaint ID,Product,Sub-product,Issue,Sub-issue,State,ZIP code,Date received,Date sent to company,Company,Company response,Timely response?,Consumer disputed?
0,1291006,Debt collection,NaN,Communication tactics,Frequent or repeated calls,TX,76119.0,2015-03-19,2015-03-19,"Premium Asset Services, LLC",In progress,Yes,NaN
1,1290580,Debt collection,Medical,Cont'd attempts collect debt not owed,Debt is not mine,TX,77479.0,2015-03-19,2015-03-19,Accounts Receivable Consultants Inc.,Closed with explanation,Yes,NaN
2,1290564,Mortgage,FHA mortgage,"Application, originator, mortgage broker",NaN,MA,2127.0,2015-03-19,2015-03-19,RBS Citizens,Closed with explanation,Yes,Yes
3,1291615,Credit card,NaN,Other,NaN,CA,92592.0,2015-03-19,2015-03-19,Navy FCU,In progress,Yes,NaN
4,1292165,Debt collection,Non-federal student loan,Cont'd attempts collect debt not owed,Debt resulted from identity theft,NaN,43068.0,2015-03-19,2015-03-19,Transworld Systems Inc.,In progress,Yes,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28156 entries, 0 to 28155
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Complaint ID          28156 non-null  int64
 1   Product               28156 non-null  object
 2   Sub-product           17582 non-null  object
 3   Issue                 28154 non-null  object
 4   Sub-issue             13211 non-null  object
 5   State                 27735 non-null  object
 6   ZIP code              27876 non-null  float64
 7   Date received         28156 non-null  object
 8   Date sent to company  28156 non-null  object
 9   Company               28156 non-null  object
 10  Company response      28156 non-null  object
 11  Timely response?      28156 non-null  object
 12  Consumer disputed?    6006 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 3.0+ MB

In [7]:
# comprobacion de duplicados
df.duplicated().any()

np.False_

Se puede comprobar algunos errores, com el código posta con un punto decimal y un cero, pero no lo utilizaremos para nuestro proyecto.
Cuando realizemos la limpieza EDA rellenaremos los vacios ya que sino no podremos realizar el entrenamiento de modelos.